.details{
    margin-bottom: 1rem;
}

.cardDetails{
    font-family: 'Roboto', sans-serif;
    color: #2A2B2A;
    background-color: #F5FBF3;
    margin: 2rem auto;
    width: 75%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #DECCCA;
}

.description{
    text-align: justify;
    padding: 0 1.5rem;
}