.container{
    min-height: 76vh;
}

label{
    color: #2A2B2A;
}

p{
    color: #2A2B2A;
}

select{
    color: #2A2B2A;
}

.search{
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 auto;
    width: 25%;
    padding: 1rem 0;
}

.search * {
    font-family: 'Roboto', sans-serif;
    margin: 0.15rem;
}

.txtInput {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submitbtn{
    width: 71%;
    border-radius: 5px;
    border-color: #F5FBF3;
    cursor: pointer;
    background-color: #6959F5;
    color: #EBB100;
    padding: 0.2rem;
}

.sort{
    width: 71%;
}

.sort *{
    justify-content: center;
}

.cardflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardLink{
    margin-top: 1.5rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.pagination p{
    padding: 0 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.pagination *{
    margin: 2rem 0;
}

.pagination button{
    border-radius: 5px;
    border-color: #F5FBF3;
    cursor: pointer;
    background-color: #6959F5;
    color: #EBB100;
    padding: 0.2rem 0.7rem;
}

.noResults{
    font-family: 'Roboto', sans-serif;
    background-color: #F5FBF3;
    color: #2A2B2A;
    width: 10rem;
    padding: 2.1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #DECCCA;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}